@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-right:before {
  content: "\e900";
}

._icon-discount-shape:before {
  content: "\e901";
}

._icon-wallet-money:before {
  content: "\e902";
}

._icon-prod:before {
  content: "\e903";
}

._icon-dashb:before {
  content: "\e904";
}

._icon-user-square-1:before {
  content: "\e905";
}

._icon-help:before {
  content: "\e906";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #FAFBFF;
  overflow: auto;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 91.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.icon-menu {
  display: none;
}

.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibg--top {
  -o-object-position: top;
     object-position: top;
}

.ibg--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.ibg--left {
  -o-object-position: left;
     object-position: left;
}

.ibg--right {
  -o-object-position: right;
     object-position: right;
}

.ibg--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 97%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.75rem;
}

.header__logo span {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #838383;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.1px;
}

.header__image {
  width: 100%;
}

.header__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__greetings {
  font-weight: 500;
  line-height: normal;
  color: #000;
}

.header__greetings span {
  display: inline-block;
  -webkit-animation: HiRotation 0.25s linear 4 0.5s;
          animation: HiRotation 0.25s linear 4 0.5s;
}

@-webkit-keyframes HiRotation {
  0% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }

  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }

  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
}

@keyframes HiRotation {
  0% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }

  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }

  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
}

.page {
  height: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.menu__navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFF;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
          box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu__title {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6875rem 0.5rem 0.6875rem 0.6875rem;
  color: #9197B3;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  border-radius: 0.5rem;
  background-color: transparent;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu__title._tab-active {
  color: #FFF;
  background-color: #5932EA;
}

.menu__title._tab-active .menu__title-image {
  color: #fff;
}

.menu__title-image {
  font-size: 1.5rem;
  color: #9197B3;
  font-weight: 900;
}

.menu ._icon-arrow-right {
  margin-left: auto;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu .user {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

.menu .user__image {
  display: block;
  width: 2.625rem;
  height: 2.625rem;
}

.menu .user__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu .user__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .user__name {
  color: #000;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
}

.menu .user__proffession {
  color: #757575;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.12px;
}

.menu__content {
  width: 100%;
  max-width: 60.5rem;
  background-color: #fff;
  -webkit-filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
          filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
  overflow: hidden;
}

.menu__body .table {
  width: 100%;
  margin-bottom: 1.75rem;
}

.menu__body .table__header,
.menu__body .table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ddd;
}

.menu__body .table__header {
  position: relative;
  color: #B5B7C0;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  border: none;
}

.menu__body .table__header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 120%;
  height: 0.0625rem;
  background-color: #ddd;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu__body .table__header .table__cell {
  padding: 0.875rem 0 0.875rem;
}

.menu__body .table__header .table__cell._status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__body .table__cell {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.125rem 0 1.3125rem;
}

.menu__body .table__cell:nth-child(1) {
  max-width: 10.75rem;
}

.menu__body .table__cell:nth-child(2) {
  max-width: 8.1875rem;
}

.menu__body .table__cell:nth-child(3) {
  max-width: 9.75rem;
}

.menu__body .table__cell:nth-child(4) {
  max-width: 13rem;
}

.menu__body .table__cell:nth-child(5) {
  max-width: 8.5625rem;
}

.menu__body .table__cell:nth-child(6) {
  max-width: 5.0625rem;
}

.menu__body .table__cell._inactive,
.menu__body .table__cell._active {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__body .table__cell._inactive span,
.menu__body .table__cell._active span {
  width: 5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.40625rem 0.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__body .table__cell._inactive span {
  color: #DF0404;
  background: #FFC5C5;
  border: 1px solid #DF0404;
  border-radius: 4px;
}

.menu__body .table__cell._active span {
  color: #008767;
  background: rgba(22, 192, 152, 0.38);
  border: 1px solid #00B087;
  border-radius: 4px;
}

.menu__body-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4375rem;
}

.menu__customers {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.22px;
}

.menu__members {
  color: #16C098;
  line-height: normal;
  letter-spacing: -0.14px;
}

.menu__search {
  position: relative;
  padding: 0.625rem 0.625rem 0.625rem 2.5rem;
  width: 13.5rem;
  color: #535353;
  font-size: 14px;
  background: url(../img/icons/search.svg) 8px center no-repeat, #F9FBFF;
  border-radius: 0.625rem;
  outline: none;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu__search::-webkit-input-placeholder {
  color: #B5B7C0;
  font-size: 12px;
  line-height: normal;
  letter-spacing: -0.12px;
}

.menu__search::-moz-placeholder {
  color: #B5B7C0;
  font-size: 12px;
  line-height: normal;
  letter-spacing: -0.12px;
}

.menu__search:-ms-input-placeholder {
  color: #B5B7C0;
  font-size: 12px;
  line-height: normal;
  letter-spacing: -0.12px;
}

.menu__search::-ms-input-placeholder {
  color: #B5B7C0;
  font-size: 12px;
  line-height: normal;
  letter-spacing: -0.12px;
}

.menu__search::placeholder {
  color: #B5B7C0;
  font-size: 12px;
  line-height: normal;
  letter-spacing: -0.12px;
}

.menu__search:focus {
  -webkit-box-shadow: 0 0 5px 3px #bdbdbd;
          box-shadow: 0 0 5px 3px #bdbdbd;
}

.menu__body-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__show-data {
  color: #B5B7C0;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}

.menu .pagination__page-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .pagination__item span {
  color: #fff;
  border: 1px solid #5932EA;
  background: #5932EA;
}

.menu .pagination__page-prev,
.menu .pagination__page-next {
  width: 1.625rem;
  height: 1.5rem;
}

.menu .pagination span.pagination__page-dots {
  width: 1.625rem;
  height: 1.5rem;
  padding: 0.375rem 0.5625rem;
  color: #404B52;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  /* 12px */
  letter-spacing: -0.12px;
  background: transparent;
  border: none;
}

.menu .pagination__page-prev,
.menu .pagination__page-number,
.menu .pagination__page-next {
  width: 1.625rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #404B52;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  /* 12px */
  letter-spacing: -0.12px;
  background: #F5F5F5;
  border-radius: 4px;
  border: 1px solid #EEE;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu .pagination__page-prev svg > path,
.menu .pagination__page-number svg > path,
.menu .pagination__page-next svg > path {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

@-webkit-keyframes arrowMove {
  0% {
    -webkit-transform: translateX(0.125rem);
            transform: translateX(0.125rem);
  }

  15% {
    -webkit-transform: translateX(0.25rem);
            transform: translateX(0.25rem);
  }

  30% {
    -webkit-transform: translateX(0.375rem);
            transform: translateX(0.375rem);
  }

  50% {
    -webkit-transform: translateX(0.5rem);
            transform: translateX(0.5rem);
  }

  70% {
    -webkit-transform: translateX(0.375rem);
            transform: translateX(0.375rem);
  }

  85% {
    -webkit-transform: translateX(0.25rem);
            transform: translateX(0.25rem);
  }

  100% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes arrowMove {
  0% {
    -webkit-transform: translateX(0.125rem);
            transform: translateX(0.125rem);
  }

  15% {
    -webkit-transform: translateX(0.25rem);
            transform: translateX(0.25rem);
  }

  30% {
    -webkit-transform: translateX(0.375rem);
            transform: translateX(0.375rem);
  }

  50% {
    -webkit-transform: translateX(0.5rem);
            transform: translateX(0.5rem);
  }

  70% {
    -webkit-transform: translateX(0.375rem);
            transform: translateX(0.375rem);
  }

  85% {
    -webkit-transform: translateX(0.25rem);
            transform: translateX(0.25rem);
  }

  100% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@media (min-width: 91.875em) {
  .header {
    padding-top: 2.3125rem;
  }

  .header {
    margin-bottom: 2.3125rem;
  }

  .header__logo {
    gap: 0.25rem;
  }

  .header__logo span {
    margin-bottom: 0.5rem;
  }

  .header__greetings {
    margin-bottom: -0.3125rem;
  }

  .header__greetings {
    font-size: 1.5rem;
  }

  .menu__navigation {
    gap: 1.125rem;
  }

  .menu__navigation {
    padding-bottom: 4.75rem;
  }

  .menu__title {
    gap: 0.875rem;
  }

  .menu__content {
    margin-bottom: 16.125rem;
  }

  .menu__content {
    margin-top: 8rem;
  }

  .menu__body-header {
    margin-bottom: 1.625rem;
  }

  .menu .pagination__page-numbers {
    gap: 0.5625rem;
  }
}

@media (min-width: 90em) {
  .header {
    left: 1.75rem;
  }

  .header__container {
    gap: 8.25rem;
  }

  .header__logo {
    margin-left: 1.75rem;
  }

  .header__image {
    max-width: 12.1875rem;
  }

  .menu {
    gap: 4.4375rem;
  }

  .menu__navigation {
    max-width: 19.125rem;
  }

  .menu__navigation {
    padding-top: 8rem;
  }

  .menu__navigation {
    padding-right: 1.75rem;
  }

  .menu__navigation {
    padding-left: 1.75rem;
  }

  .menu__content {
    padding-top: 1.875rem;
  }

  .menu__content {
    padding-right: 2.5rem;
  }

  .menu__content {
    padding-bottom: 2.5rem;
  }

  .menu__content {
    padding-left: 2.375rem;
  }

  .menu__search {
    margin-right: 0.875rem;
  }
}

@media (max-width: 20em) {
  .header {
    padding-top: 1.875rem;
  }

  .header {
    margin-bottom: 1.875rem;
  }

  .header__logo {
    gap: 0.125rem;
  }

  .header__logo span {
    margin-bottom: 0.3125rem;
  }

  .header__greetings {
    margin-bottom: -0.1875rem;
  }

  .header__greetings {
    font-size: 1rem;
  }

  .menu__navigation {
    gap: 0.9375rem;
  }

  .menu__navigation {
    padding-bottom: 1.875rem;
  }

  .menu__title {
    gap: 0.5rem;
  }

  .menu__content {
    margin-bottom: 7.5rem;
  }

  .menu__content {
    margin-top: 6.25rem;
  }

  .menu__body-header {
    margin-bottom: 1.25rem;
  }

  .menu .pagination__page-numbers {
    gap: 0.375rem;
  }
}

@media (max-width: 74.375em) {
  .menu {
    gap: 0.9375rem;
  }

  .menu__navigation {
    max-width: 13.4375rem;
  }
}

@media (max-width: 73.75em) {
  .header {
    left: 1.5625rem;
  }

  .header__logo {
    margin-left: 0.0000000625rem;
  }

  .header__image {
    max-width: 8.4375rem;
  }

  .menu__navigation {
    padding-top: 6.25rem;
  }

  .menu__navigation {
    padding-right: 0.9375rem;
  }

  .menu__navigation {
    padding-left: 0.9375rem;
  }

  .menu__content {
    padding-top: 1.25rem;
  }

  .menu__content {
    padding-right: 1.25rem;
  }

  .menu__content {
    padding-bottom: 1.875rem;
  }

  .menu__content {
    padding-left: 1.25rem;
  }

  .menu__search {
    margin-right: 0.0000000625rem;
  }
}

@media (max-width: 72.5em) {
  .menu__body .table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.25rem;
  }

  .menu__body .table__header {
    display: none;
  }

  .menu__body .table__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__body .table__cell {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.625rem 0 0.625rem;
  }

  .menu__body .table__cell:nth-child(6) {
    max-width: 100%;
  }
}

@media (max-width: 54.375em) {
  .menu__body-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }
}

@media (max-width: 52.5em) {
  .menu__body .table {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 47.99875em) {
  .menu__body-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }

  .menu__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__search {
    width: 100%;
  }
}

@media (max-width: 32.5em) {
  .menu .pagination__item:nth-child(5) {
    display: none;
  }
}

@media (max-width: 30.0625em) {
  .header__container {
    gap: 3.75rem;
  }
}

@media (max-width: 29.99875em) {
  .icon-menu {
    display: block;
    position: fixed;
    top: 2.1875rem;
    right: 2.5rem;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #757575;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header {
    width: 90%;
  }

  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.625rem;
  }

  .header__logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .menu__navigation {
    padding-top: 1.875rem;
    position: fixed;
    max-width: 70%;
    top: 0;
    left: -100%;
    height: 100%;
    z-index: 95;
    overflow: auto;
  }

  .menu-open .menu__navigation {
    left: 0;
  }

  .menu__content {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 29.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 73.75em) and (max-width: 90em) {
@supports (left: clamp( 1.5625rem , 0.7115384615rem  +  1.1538461538vw , 1.75rem )) {
    .header {
      left: clamp( 1.5625rem , 0.7115384615rem  +  1.1538461538vw , 1.75rem );
    }
}

@supports not (left: clamp( 1.5625rem , 0.7115384615rem  +  1.1538461538vw , 1.75rem )) {
    .header {
      left: calc(1.5625rem + 0.1875 * (100vw - 73.75rem) / 16.25);
    }
}

@supports (margin-left: clamp( 0.0000000625rem , -7.9423073462rem  +  10.7692303846vw , 1.75rem )) {
    .header__logo {
      margin-left: clamp( 0.0000000625rem , -7.9423073462rem  +  10.7692303846vw , 1.75rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -7.9423073462rem  +  10.7692303846vw , 1.75rem )) {
    .header__logo {
      margin-left: calc(0.0000000625rem + 1.7499999375 * (100vw - 73.75rem) / 16.25);
    }
}

@supports (max-width: clamp( 8.4375rem , -8.5817307692rem  +  23.0769230769vw , 12.1875rem )) {
    .header__image {
      max-width: clamp( 8.4375rem , -8.5817307692rem  +  23.0769230769vw , 12.1875rem );
    }
}

@supports not (max-width: clamp( 8.4375rem , -8.5817307692rem  +  23.0769230769vw , 12.1875rem )) {
    .header__image {
      max-width: calc(8.4375rem + 3.75 * (100vw - 73.75rem) / 16.25);
    }
}

@supports (padding-top: clamp( 6.25rem , -1.6923076923rem  +  10.7692307692vw , 8rem )) {
    .menu__navigation {
      padding-top: clamp( 6.25rem , -1.6923076923rem  +  10.7692307692vw , 8rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , -1.6923076923rem  +  10.7692307692vw , 8rem )) {
    .menu__navigation {
      padding-top: calc(6.25rem + 1.75 * (100vw - 73.75rem) / 16.25);
    }
}

@supports (padding-right: clamp( 0.9375rem , -2.75rem  +  5vw , 1.75rem )) {
    .menu__navigation {
      padding-right: clamp( 0.9375rem , -2.75rem  +  5vw , 1.75rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -2.75rem  +  5vw , 1.75rem )) {
    .menu__navigation {
      padding-right: calc(0.9375rem + 0.8125 * (100vw - 73.75rem) / 16.25);
    }
}

@supports (padding-left: clamp( 0.9375rem , -2.75rem  +  5vw , 1.75rem )) {
    .menu__navigation {
      padding-left: clamp( 0.9375rem , -2.75rem  +  5vw , 1.75rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -2.75rem  +  5vw , 1.75rem )) {
    .menu__navigation {
      padding-left: calc(0.9375rem + 0.8125 * (100vw - 73.75rem) / 16.25);
    }
}

@supports (padding-top: clamp( 1.25rem , -1.5865384615rem  +  3.8461538462vw , 1.875rem )) {
    .menu__content {
      padding-top: clamp( 1.25rem , -1.5865384615rem  +  3.8461538462vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -1.5865384615rem  +  3.8461538462vw , 1.875rem )) {
    .menu__content {
      padding-top: calc(1.25rem + 0.625 * (100vw - 73.75rem) / 16.25);
    }
}

@supports (padding-right: clamp( 1.25rem , -4.4230769231rem  +  7.6923076923vw , 2.5rem )) {
    .menu__content {
      padding-right: clamp( 1.25rem , -4.4230769231rem  +  7.6923076923vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , -4.4230769231rem  +  7.6923076923vw , 2.5rem )) {
    .menu__content {
      padding-right: calc(1.25rem + 1.25 * (100vw - 73.75rem) / 16.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.9615384615rem  +  3.8461538462vw , 2.5rem )) {
    .menu__content {
      padding-bottom: clamp( 1.875rem , -0.9615384615rem  +  3.8461538462vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.9615384615rem  +  3.8461538462vw , 2.5rem )) {
    .menu__content {
      padding-bottom: calc(1.875rem + 0.625 * (100vw - 73.75rem) / 16.25);
    }
}

@supports (padding-left: clamp( 1.25rem , -3.8557692308rem  +  6.9230769231vw , 2.375rem )) {
    .menu__content {
      padding-left: clamp( 1.25rem , -3.8557692308rem  +  6.9230769231vw , 2.375rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , -3.8557692308rem  +  6.9230769231vw , 2.375rem )) {
    .menu__content {
      padding-left: calc(1.25rem + 1.125 * (100vw - 73.75rem) / 16.25);
    }
}

@supports (margin-right: clamp( 0.0000000625rem , -3.9711535rem  +  5.384615vw , 0.875rem )) {
    .menu__search {
      margin-right: clamp( 0.0000000625rem , -3.9711535rem  +  5.384615vw , 0.875rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -3.9711535rem  +  5.384615vw , 0.875rem )) {
    .menu__search {
      margin-right: calc(0.0000000625rem + 0.8749999375 * (100vw - 73.75rem) / 16.25);
    }
}
}

@media (min-width: 20em) and (max-width: 91.875em) {
@supports (padding-top: clamp( 1.875rem , 1.7532608696rem  +  0.6086956522vw , 2.3125rem )) {
    .header {
      padding-top: clamp( 1.875rem , 1.7532608696rem  +  0.6086956522vw , 2.3125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.7532608696rem  +  0.6086956522vw , 2.3125rem )) {
    .header {
      padding-top: calc(1.875rem + 0.4375 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.7532608696rem  +  0.6086956522vw , 2.3125rem )) {
    .header {
      margin-bottom: clamp( 1.875rem , 1.7532608696rem  +  0.6086956522vw , 2.3125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.7532608696rem  +  0.6086956522vw , 2.3125rem )) {
    .header {
      margin-bottom: calc(1.875rem + 0.4375 * (100vw - 20rem) / 71.875);
    }
}

@supports (gap: clamp( 0.125rem , 0.0902173913rem  +  0.1739130435vw , 0.25rem )) {
    .header__logo {
      gap: clamp( 0.125rem , 0.0902173913rem  +  0.1739130435vw , 0.25rem );
    }
}

@supports not (gap: clamp( 0.125rem , 0.0902173913rem  +  0.1739130435vw , 0.25rem )) {
    .header__logo {
      gap: calc(0.125rem + 0.125 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-bottom: clamp( 0.3125rem , 0.260326087rem  +  0.2608695652vw , 0.5rem )) {
    .header__logo span {
      margin-bottom: clamp( 0.3125rem , 0.260326087rem  +  0.2608695652vw , 0.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , 0.260326087rem  +  0.2608695652vw , 0.5rem )) {
    .header__logo span {
      margin-bottom: calc(0.3125rem + 0.1875 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-bottom: clamp( -0.3125rem , -0.1527173913rem  +  -0.1739130435vw , -0.1875rem )) {
    .header__greetings {
      margin-bottom: clamp( -0.3125rem , -0.1527173913rem  +  -0.1739130435vw , -0.1875rem );
    }
}

@supports not (margin-bottom: clamp( -0.3125rem , -0.1527173913rem  +  -0.1739130435vw , -0.1875rem )) {
    .header__greetings {
      margin-bottom: calc(-0.1875rem + -0.125 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1rem , 0.8608695652rem  +  0.6956521739vw , 1.5rem )) {
    .header__greetings {
      font-size: clamp( 1rem , 0.8608695652rem  +  0.6956521739vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8608695652rem  +  0.6956521739vw , 1.5rem )) {
    .header__greetings {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 71.875);
    }
}

@supports (gap: clamp( 0.9375rem , 0.885326087rem  +  0.2608695652vw , 1.125rem )) {
    .menu__navigation {
      gap: clamp( 0.9375rem , 0.885326087rem  +  0.2608695652vw , 1.125rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.885326087rem  +  0.2608695652vw , 1.125rem )) {
    .menu__navigation {
      gap: calc(0.9375rem + 0.1875 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.075rem  +  4vw , 4.75rem )) {
    .menu__navigation {
      padding-bottom: clamp( 1.875rem , 1.075rem  +  4vw , 4.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.075rem  +  4vw , 4.75rem )) {
    .menu__navigation {
      padding-bottom: calc(1.875rem + 2.875 * (100vw - 20rem) / 71.875);
    }
}

@supports (gap: clamp( 0.5rem , 0.3956521739rem  +  0.5217391304vw , 0.875rem )) {
    .menu__title {
      gap: clamp( 0.5rem , 0.3956521739rem  +  0.5217391304vw , 0.875rem );
    }
}

@supports not (gap: clamp( 0.5rem , 0.3956521739rem  +  0.5217391304vw , 0.875rem )) {
    .menu__title {
      gap: calc(0.5rem + 0.375 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-bottom: clamp( 7.5rem , 5.1rem  +  12vw , 16.125rem )) {
    .menu__content {
      margin-bottom: clamp( 7.5rem , 5.1rem  +  12vw , 16.125rem );
    }
}

@supports not (margin-bottom: clamp( 7.5rem , 5.1rem  +  12vw , 16.125rem )) {
    .menu__content {
      margin-bottom: calc(7.5rem + 8.625 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-top: clamp( 6.25rem , 5.7630434783rem  +  2.4347826087vw , 8rem )) {
    .menu__content {
      margin-top: clamp( 6.25rem , 5.7630434783rem  +  2.4347826087vw , 8rem );
    }
}

@supports not (margin-top: clamp( 6.25rem , 5.7630434783rem  +  2.4347826087vw , 8rem )) {
    .menu__content {
      margin-top: calc(6.25rem + 1.75 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.1456521739rem  +  0.5217391304vw , 1.625rem )) {
    .menu__body-header {
      margin-bottom: clamp( 1.25rem , 1.1456521739rem  +  0.5217391304vw , 1.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.1456521739rem  +  0.5217391304vw , 1.625rem )) {
    .menu__body-header {
      margin-bottom: calc(1.25rem + 0.375 * (100vw - 20rem) / 71.875);
    }
}

@supports (gap: clamp( 0.375rem , 0.322826087rem  +  0.2608695652vw , 0.5625rem )) {
    .menu .pagination__page-numbers {
      gap: clamp( 0.375rem , 0.322826087rem  +  0.2608695652vw , 0.5625rem );
    }
}

@supports not (gap: clamp( 0.375rem , 0.322826087rem  +  0.2608695652vw , 0.5625rem )) {
    .menu .pagination__page-numbers {
      gap: calc(0.375rem + 0.1875 * (100vw - 20rem) / 71.875);
    }
}
}

@media (min-width: 30.0625em) and (max-width: 90em) {
@supports (gap: clamp( 3.75rem , 1.4929614181rem  +  7.5078206465vw , 8.25rem )) {
    .header__container {
      gap: clamp( 3.75rem , 1.4929614181rem  +  7.5078206465vw , 8.25rem );
    }
}

@supports not (gap: clamp( 3.75rem , 1.4929614181rem  +  7.5078206465vw , 8.25rem )) {
    .header__container {
      gap: calc(3.75rem + 4.5 * (100vw - 30.0625rem) / 59.9375);
    }
}
}

@media (min-width: 74.375em) and (max-width: 90em) {
@supports (gap: clamp( 0.9375rem , -15.7225rem  +  22.4vw , 4.4375rem )) {
    .menu {
      gap: clamp( 0.9375rem , -15.7225rem  +  22.4vw , 4.4375rem );
    }
}

@supports not (gap: clamp( 0.9375rem , -15.7225rem  +  22.4vw , 4.4375rem )) {
    .menu {
      gap: calc(0.9375rem + 3.5 * (100vw - 74.375rem) / 15.625);
    }
}

@supports (max-width: clamp( 13.4375rem , -13.635rem  +  36.4vw , 19.125rem )) {
    .menu__navigation {
      max-width: clamp( 13.4375rem , -13.635rem  +  36.4vw , 19.125rem );
    }
}

@supports not (max-width: clamp( 13.4375rem , -13.635rem  +  36.4vw , 19.125rem )) {
    .menu__navigation {
      max-width: calc(13.4375rem + 5.6875 * (100vw - 74.375rem) / 15.625);
    }
}
}

@media (any-hover: hover) {
  .menu__title:hover ._icon-arrow-right {
    -webkit-animation: arrowMove 0.8s infinite linear;
            animation: arrowMove 0.8s infinite linear;
  }

  .menu .pagination__page-prev:hover,
  .menu .pagination__page-number:hover,
  .menu .pagination__page-next:hover {
    color: #fff;
    border: 1px solid #5932EA;
    background: #5932EA;
  }

  .menu .pagination__page-prev:hover svg > path,
  .menu .pagination__page-number:hover svg > path,
  .menu .pagination__page-next:hover svg > path {
    fill: #FFF;
  }
}